{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

<section class="actualitées">

    <div class="metadata">Ecrit le 09/10/18 à 9:00</div>
    <div class="content">
        <img src="http://placehold.it/350x150" alt="">
        <p>Un blog, anglicisme pouvant être francisé en blogue et parfois appelé cybercarnet ou bloc-notes, 
        est un type de site web – ou une partie d'un site web – utilisé pour la publication périodique ... 
        </p>
        <p>Un site d’actu économique propose aux lycéens de faire des économies POST DE BLOG
                Professeur de sciences économiques et sociales, 
                Claude Garcia a examiné (et approuvé) les premières newsletters d’un nouveau site, 
                consacré à l’actualité et aux enjeux de l’économie, 
                qui propose aux lycéens un an d’abonnement gratuit.
                Un site d’actu économique propose aux lycéens de faire des économies POST DE BLOG
                Professeur de sciences économiques et sociales, 
                Claude Garcia a examiné (et approuvé) les premières newsletters d’un nouveau site, 
                consacré à l’actualité et aux enjeux de l’économie, 
                qui propose aux lycéens un an d’abonnement gratuit.</p>
        <a href="" class="btn btn-primary">Lire la suite</a>
    </div>
    <div class="metadata">Ecrit le 09/10/18 à 9:00</div>
    <div class="content">
        <img src="http://placehold.it/350x150" alt="">
        <p> Un blog, anglicisme pouvant être francisé en blogue et parfois appelé cybercarnet ou bloc-notes, 
            est un type de site web – ou une partie d'un site web – utilisé pour la publication périodique ...</p>
        <p> Un site d’actu économique propose aux lycéens de faire des économies POST DE BLOG
            Professeur de sciences économiques et sociales, 
            Claude Garcia a examiné (et approuvé) les premières newsletters d’un nouveau site, 
            consacré à l’actualité et aux enjeux de l’économie, 
            qui propose aux lycéens un an d’abonnement gratuit.
            Un site d’actu économique propose aux lycéens de faire des économies POST DE BLOG
            Professeur de sciences économiques et sociales, 
            Claude Garcia a examiné (et approuvé) les premières newsletters d’un nouveau site, 
            consacré à l’actualité et aux enjeux de l’économie, 
            qui propose aux lycéens un an d’abonnement gratuit.</p>
        <a href="" class="btn btn-primary">Lire la suite</a>
    </div>
    <div class="metadata">Ecrit le 09/10/18 à 9:00</div>
    <div class="content">
        <img src="http://placehold.it/350x150" alt="">
        <p>Un blog, anglicisme pouvant être francisé en blogue et parfois appelé cybercarnet ou bloc-notes, 
        est un type de site web – ou une partie d'un site web – utilisé pour la publication périodique ...</p>
        <p> Un site d’actu économique propose aux lycéens de faire des économies POST DE BLOG
            Professeur de sciences économiques et sociales, 
            Claude Garcia a examiné (et approuvé) les premières newsletters d’un nouveau site, 
            consacré à l’actualité et aux enjeux de l’économie, 
            qui propose aux lycéens un an d’abonnement gratuit.
            Un site d’actu économique propose aux lycéens de faire des économies POST DE BLOG
            Professeur de sciences économiques et sociales, 
            Claude Garcia a examiné (et approuvé) les premières newsletters d’un nouveau site, 
            consacré à l’actualité et aux enjeux de l’économie, 
            qui propose aux lycéens un an d’abonnement gratuit.</p>
        <a href="" class="btn btn-primary">Lire la suite</a>
    </div>


{% endblock %}

